[control_plane]
k8s-control-plane-01 ansible_host=192.168.0.142

[workers]
k8s-worker-01 ansible_host=192.168.0.145
k8s-worker-02 ansible_host=192.168.0.106
k8s-worker-03 ansible_host=192.168.0.130

[new_master]
k8s-control-plane-02 ansible_host=192.168.0.128

[jump_server]
k8s-jump-server ansible_host=192.168.0.141

[all:vars]
ansible_python_interpreter=/usr/bin/python3.12
nameservers=["192.168.0.100","192.168.1.100"]
gateway=192.168.0.1
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
